/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/compile
/depcomp
/install-sh
/missing
/autoconf.h
/radioclkd2
/stamp-h1

*~
.#*
.*.rej
.*~
.~lock.*
.DS_Store
.vscode
*.o
.deps
Makefile
Makefile.in
